body {
	font-family: sans-serif;
	background-color: #1e1e1e;
	color: #fcfcfc;
	font-size: 1.3em;
}

#container {
	position: relative;
	margin: 0 auto;
}

#playfield {
	position: relative;
	margin: 0 auto;
	max-width: 1280px;
	height: auto;;
}

#playfield img {
	width: 100%;
	max-width: 1280px;
	height: auto;
	position: absolute;
	z-index: 1;
}


#guessfield {
	margin: 30px;
	text-align: center;
}


.blocker {
	position: absolute;
	background-color: black;
	border: 1px solid red;
	z-index: 2;
}

.winner {
	color:  lime;
}

.failure {
	color:  red;
}

.helpbutton {
	color:  yellow;
}