body {
	font-family: sans-serif;
	background-color: #1e1e1e;
	color: #fcfcfc;
	font-size: 1.3em;
}

#container {
	position: relative;
	margin: 0 auto;
}

#playfield {
	position: relative;
	margin: 0 auto;
	max-width: 1280px;
	height: auto;
}

#loading {
	text-align: center;
}

#playfield img {
	width: 100%;
	max-width: 1280px;
	height: auto;
	position: absolute;
	z-index: 1;
}


#guessfield {
	margin: 30px;
	text-align: center;
}


.blocker {
	position: absolute;
	background-color: black;
	border: 1px solid red;
	z-index: 2;
}

.winner {
	color:  lime;
}

.failure {
	color:  red;
}

.helpbutton {
	color:  white;
	background-color: #949434;
	padding: 6px;
	border-radius: 5px;
	text-decoration: none;
}

.helpbutton:hover {
	text-decoration: underline;
}

.sharebutton {
	padding:  6px;
	background-color: green;
	color: white;
	border-radius: 5px;
}

.sharebutton:hover {
	text-decoration: underline;
}

#guessinput {
	display: none; /* hidden by default as its shown by the script if needed */
}

#perfect-letters {
	font-family: monospace;
	color: green;
}

#correct-letters {
	font-family: monospace;
	color:#949434;
}

#wrong-letters {
	font-family: monospace;
	color: red;
}

#guesses-remaining {
	font-family: monospace;
}

.reglink {
	color: white;
	text-decoration: none;
}

.reglink:hover {
	text-decoration: underline;
}